html,
body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to bottom right,#c5c5c2,#438399);
    height: 100vh;
    width: 100%;
    font-family: 'Six Caps', sans-serif;
    background-repeat: no-repeat;  
    box-sizing: border-box;
    overflow: hidden;
   
}

.jumbotron{
    overflow-y:auto;
    overflow-x: hidden;
    height: 600px;;
    margin: 60px auto;
    display: flex;
    border: 15px solid #100B16 ;
    border-radius: 3px;
    background-image: url(images/corn-fields-under-white-clouds-with-blue-sky-during-daytime-158827.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;

}

.jumbotron::-webkit-scrollbar
{   
    width: 10px;
    background-color: transparent;
}

.jumbotron::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #6f8649;
}
.h1-text{
    text-align: center;
    font-size: 7.5vw;
   line-height: 1.5;
    color: #100B16 ;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', cursive; 
    text-shadow: #c5c5c2 0px 0px 2px;  
}
#h1-1{
    letter-spacing: 22px;
    line-height: 1;
    
}
#h1-2{
    letter-spacing: 10px;
    
}

#time{
    text-shadow: #c5c5c2 0px 0px 2px;
    letter-spacing: 5px;
    font-size: 2.5vw;
    position: absolute;
    animation-delay:600ms;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    left: 150px;
   
}
#searchBox {
    width: 120px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background: transparent;
    color: #343637;
    border-radius: 100px;
    border:1px solid black;
    animation-delay: 1.5s;
  }
  
  /* When the input field gets focus, change its width to 100% */
  #searchBox:focus {
    width: 100%;
    border: 1px solid #343637;
    outline: none;
  }

  .card{
      position: absolute;
      top: 300px;
      opacity: 0.6;
      width: 15vw;
      height: 37vh;
      border: #100B16 3px solid;
      animation-delay: 600ms;
  }
  
  #main-figure{
    background-color: white;
    height: 37vh;
    width: 40vw;
    margin: 0 auto;
   position: absolute;
   right: 200px;
   top: 300px;
   opacity: 0.7;
   border: #100B16 3px solid;
   border-radius: 3px;
   animation-delay: 600ms;
  }

  .ul-container {
      top: 700px;
      position: absolute;
     list-style: none;
    display: inline-flex;
  }
#ul-5day li{
    flex-wrap: wrap;
      margin: 5px;
      width: 400px;
      height: 200px;;
      background: white;
    opacity: 0.7;
    border: #100B16 3px solid;

  }